:root{
    --font:'Rajdhani', sans-serif;
}


*{
    scroll-behavior: smooth;
    margin: 0;
}
body{
    font-family: var(--font);
    background-color: rgb(228, 226, 226);
}

.navbar{
    background-color: white;
    position: sticky;
    height: 12vh;
    width: 100vw;
    display: flex;
    background-color:white;
    color: black;
    align-items: center;
    justify-content: space-between;
}
.navbar > div{
    margin-left: 4rem;
    margin-right: 4rem;
}
.navbar > div > a{
    margin-left: 1.5rem;
}
.nav-right > a{
    font-family: var(--font);
    color: inherit;
    font-size: 1.4rem;
    text-decoration: none;
    text-underline-offset: .5rem;;
}
.nav-right{
    padding-right: 7rem;
}


.nav-right > a:hover{
    text-decoration: underline;
    opacity: 60%;
}

.logo{
    margin-left: 3rem;
    background-image: url(logo.png);
    padding-bottom: 5px;
    height: 8rem;
    width: 13rem;
    font-weight: bold;
    vertical-align: center;
    background-size: cover;
    border-color: white;
}
.body-image{
    filter: brightness(100%);
    object-fit:fill;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(MEP-Photo.jpeg);
    background-size: cover;
}

.body-image > :nth-child(2){
    display: block;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-family: var(--font);
    font-size: 2rem;
    font-weight:lighter;
    width: 60vw;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}
.body-image > span:first-child{
    color: white;
    font-size: 9rem;
    margin-top: -5rem;
    font-family: var(--font);
    text-shadow: 1px 1px 5px black;
}

.body-image > a {
    margin-top: 3rem;
    color: black;
    background-color: white;
    width: 11.5rem;
    font-size: 1.25rem;
    height: 2.5rem;
    padding-top: 1rem;
    text-align: center;
    vertical-align:middle;
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
    font-family: var(--font);
    transition: 0.5s;
    border: 2px solid white;
    text-decoration: none;
}
.body-image > a:hover{
    color: #fff;
    background-color: rgb(255,255,255, 0.3)
}

.about-us{
    font-family: var(--font);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.section-header > h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 7rem;
}
.section-header > p{
    margin-top: .25rem;
    font-size: 1rem;
    text-align: center;
}

.about-us-desc{
    font-size: 1.1rem;
    margin-top: 2.5rem;
    width: 80vw;
}

.about-us-desc > p {
    margin-top: 1rem;
}
.services{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.service-tiles{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 50vh;
    margin-top: 3rem;;
}
.service-tile{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: space-evenly;
    background-color: white;
    width: 23rem;
    height: 30rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: 0.4s;
}

.service-tile:hover{
    margin-top: 1em;
    margin-left: 1em;
}

.service-image{
    background-color: rgb(0, 151, 252);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    height: 5rem;
    font-size: 2rem;
    border-radius: 40px;
    width: 5rem;
}

.portfolio{
    height: 130vh;
    width: 100vw;
}
.portfolio-cards{
    margin-top: 5vh;
    display: grid;
    row-gap: 3rem;
    column-gap: 5rem;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-template-columns: repeat(3,1fr);
}
.portfolio-card{
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 20px;
    height: 20rem;
    width: 23rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.45s;
}

.portfolio-card:hover{
    margin-top: 1em;
    margin-left: .5em;
}

.portfolio-image{
    filter: brightness(110%);
    border-radius: 20px;
    background-size: cover;
    text-align: center;
    margin-bottom: 1rem;
    height: 20em;
}

.portfolio-body{
    text-align: center;
}

.contact{
    height: 50vh;
}

.contact-body{
    display: flex;
}

.left-contact{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: 10vw;
    margin-top: 5vh;
}

.right-contact{
    margin-top: 7vh;
    width: 50vw;
    display: inline;
}

.left-contact > p{
    letter-spacing: 2.75px;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.contact-name{
    width: 43rem;
    height: 3rem;
}
