:root{
    --font:'Rajdhani', sans-serif;
}


*{
    margin: 0;
}

.navbar{
    position: sticky;
    background-color: rgb(71, 69, 69);
    height: 10vh;
    width: 100vw;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.navbar > div{
    margin-left: 4rem;
    margin-right: 4rem;
}
.navbar > div > a{
    margin-left: 1.5rem;
}
.nav-right > a{
    font-family: var(--font);
    color: inherit;
    font-size: 1.25rem;
    text-decoration: none;
}

.logo{
    background-image: url(Screen\ Shot\ 2023-12-26\ at\ 12.40.57\ PM.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -1.5rem;
    width: 9.5rem;
    height: 9.5rem;
    border-color: white;
}
.body-image{
    filter: brightness(80%);
    object-fit:fill;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(MEP-Photo.jpeg)
}

.body-image > :nth-child(2){
    display: block;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-family: var(--font);
    font-size: 2rem;
    font-weight:lighter;
    width: 60vw;
    text-align: center;
}
.body-image > span:first-child{
    color: white;
    font-size: 9rem;
    margin-top: -5rem;
    font-family: var(--font);
    text-shadow: 1px 1px 5px black;
}

.body-image > button {
    margin-top: 3rem;
    color: black;
    background-color: white;
    width: 11.5rem;
    font-size: 1.25rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
    font-family: var(--font);
}
.body-image > button:hover{
    filter: brightness(90%);
}